h1,
h2,
h3,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;

  background-color: black;
  color: white;
  font-size: 2rem;
}
