---
import BaseLayout, {type Props as BaseProps} from "../layouts/base.astro";

const props: BaseProps = {
  frontmatter: {
    pageTitle: "driftingnebula",
  },
};
---

<BaseLayout {...props}>
  <h1>driftingnebula</h1>
</BaseLayout>
